apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifest/controller.yaml
- manifest/namespace.yaml
- manifest/rbac.yaml
- manifest/route.yaml
- manifest/service.yaml
images:
- digest: sha256:19cd10ecd3c9814d335b14dbf08baf0b453a8e93ce01cc6910b15041a567488b
  name: ghcr.io/supernetes/controller
